
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.project {
    font-family: 'Inter', sans-serif;
}

.project .header {
    background: linear-gradient(90deg, #503589 0%, #1C0623 100%);
    text-align: left;
    padding: 5% 10%;
    color: #fff
}

.project .header h2 {
    font-weight: bold;
    font-size: 2.25rem;
}

.project .header .desc {
    font-weight: 200;
    font-size: 1.15rem;
}

.project .projects {
    background: #F8F6FB;
    align-self: center;
    align-items: center;
    margin: 2.5rem 0rem;
}

.project .projects .row {
    gap: 2rem;
    height: auto;
}

.project .projects h2 {
    font-weight: bold;
    font-size: 2.5rem;
    text-shadow: 0 0 8px #00000036;
}

.project .project-item {
    align-items: start;
    text-align: start;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1rem 1.5rem;
    border-radius: 1.5rem;
}

.project .project-item img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project .project-item .etiquetas {
    margin: 1rem 0rem 0.5rem 0rem;
}

.project .project-item .state ,
.project .project-item .tag {
    color: #fff;
    border-radius: 1rem;
    padding: 0% 2.5%;
    transition: all 0.3s ease;
    line-height: 150%;
    display: inline-block;
    margin: 0rem 0.5rem 0.5rem 0rem;
    box-shadow: 0 0 8px #ED7EFF;
}

.project .project-item .state {
    background: #503589;
}

.project .project-item .tag {
    background: #B41EB7;
}

.project .project-item h3 {
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: 0 0 8px #0000006c;
}

.project .project-item .desc {
    color: #000;
    font-weight: 300;
}

.project .start hr,
.project .projects hr,
.project .mision-vision hr {
    opacity: 0%;
    margin: 2.5%;
}

.project .project-item .mas {
    background: linear-gradient(90deg, #503589 0%, #B41EB7 100%);
    text-decoration: none;
    color: #fff;
    border-radius: 0.5rem;
    padding: 1.5% 5%;
    transition: all 0.3s ease; 
    line-height: 150%;
    display: inline-block;
    margin: 0rem 0.5rem 0.5rem 0rem;
}

.project .project-item .mas:hover {
    transform: translateY(-2px); 
    background: linear-gradient(90deg, #B41EB7 0%, #503589 100%);
    box-shadow: 0 4px 8px #ED7EFF;
}

.project .no-projects {
    font-weight: 300;
}

.project .loading {
    width: 100px;  /* Ancho de la imagen */
    height: auto; /* Alto de la imagen */
    display: block; /* Asegúrate de que la imagen se renderice correctamente */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

.project .search {
    padding: 2.5% 0% 0% 0%;
    margin: 0px 10%;
}

.project .search input {
    border: 1px solid #ED7EFF;
    padding: 0.5rem 1rem;
    width: 100%;
    border-radius: 2rem;
    margin-right: 1rem;
    outline: none;
    color: #1C0623;
}

.project .search input:focus,
.project .search input:focus-visible {
    border: 1px solid #503589;
}

.project .search .label {
    font-weight: 600;
    color: #1C0623;
    margin-top: 2rem;
}

.project .search .button-group {
    margin: 1rem;
}

.project .search .filter-button {
    color: #503589;
    border: 1px solid #ED7EFF;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    margin: 0rem 0.5rem 0.75rem 0rem;
    background: white;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}

.project .search .filter-button:hover,
.project .search .filter-button.selected {
    background: linear-gradient(90deg, #ED7EFF 0%, #B41EB7 100%);
    color: #fff;
    border: 1px solid #ED7EFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project .search .filter-button:focus {
    outline: none; 
    box-shadow: none; 
}

.project .search .search-button {
    color: #ED7EFF;
    background: #fff;
    text-decoration: none;
    border: 1px solid #ED7EFF;
    border-radius: 1rem;
    padding: 0% 2%;
    transition: all 0.3s ease;
    line-height: 50px;
    display: inline-block;
}

.project .search .search-button:active,
.project .search .search-button:hover {
    color: #fff !important;
    background: linear-gradient(90deg, #B41EB7 0%, #ED7EFF 100%);
    text-decoration: none;
    border-radius: 1rem;
    padding: 0% 2%;
    margin: 0.5rem 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.project .search .search-button::after {
    transition: width 0.3s ease;
}

.project .idea {
    background: linear-gradient(90deg, #40204B 0%, #503589 100%);
    text-decoration: none;
    padding: 5rem 2.5rem;
    color: #fff;
}

.project .idea h2 {
    font-size: 2.25rem;
    text-shadow: 0 0 8px #ffffff36;
}

.project .idea .desc {
    font-weight: 300;    
}

.project .idea a {
    color: #ED7EFF;
    text-decoration: none;
    border: 1px solid #ED7EFF;
    border-radius: 1rem;
    padding: 0% 5%;
    margin: 0.5rem 1rem;
    transition: all 0.3s ease;
    line-height: 50px;
    display: inline-block;
}

.project .idea a:active,
.project .idea a:hover {
    color: #fff !important;
    background: linear-gradient(90deg, #ED7EFF  0%, #B41EB7 100%);
    text-decoration: none;
    border-radius: 1rem;
    padding: 0% 5%;
    margin: 0.5rem 1rem;
    transform: translateY(-3px);
}

.project .idea a::after {
    transition: width 0.3s ease;
}
