@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.members {
    font-family: 'Inter', sans-serif;
}

.members .header {
    background: linear-gradient(90deg, #1C0623 0%, #40204B 50%, #503589 100%);
    padding: 5% 10%;
    color: #fff
}

.members .header h2 {
    font-weight: bold;
    font-size: 2.25rem;
    text-shadow: 0 0 8px #ffffff52;
}

.members .header .desc {
    font-weight: 200;
    font-size: 1.15rem;
}

.members .usuarios {
    padding: 0rem 10rem;
}

.members .usuarios {
    background: #F8F6FB;
    align-self: center;
    align-items: center;
    margin: 2.5rem 0rem;
}

@media (max-width: 1200px ){
    .members .usuarios {
        padding: 0rem 5rem;
    }

    .members .usuarios {
        margin: 5rem 0rem;
    }
}

.members .usuarios h2 {
    font-weight: bold;
    font-size: 2.5rem;
    text-shadow: 0 0 8px #00000036;
}

.members .members-item {
    align-items: start;
    align-self: center;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 2rem 1rem;
    border-radius: 1.5rem;
    height: 100%;
    
}

.members .members-item img {
    width: 75%;
    border-radius: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
}

@media (max-width: 768px ){
    .members .members-item img {
        width: 50%; 
    }
}

@media (max-width: 576px ){
    .members .members-item img {
        width: 25%; 
    }
}

.members .members-item .etiquetas {
    margin: 1rem 0rem 0.5rem 0rem;
}

.members .members-item .state {
    color: #fff;
    width: 100%;
    border-radius: 1rem;
    padding: 0.5% 5%;
    transition: all 0.3s ease;
    line-height: 150%;
    display: inline-block;
    margin: 0rem 0.5rem 0.5rem 0rem;
    box-shadow: 0 0 8px #ED7EFF;
    background: linear-gradient(90deg, #B41EB7 0%, #503589 100%);
}

.members .members-item h3 {
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: 0 0 8px #0000006c;
}

.members .members-item .desc {
    color: #000;
    font-weight: 400;
}

.members .members-item .mas {
    text-align: start;
    background: #ED7EFF;
    text-decoration: none;
    color: #40204B;
    border-radius: 20rem;
    padding: 1% 5%;
    transition: all 0.3s ease; 
    line-height: 150%;
    display: inline-block;
    margin: 0rem 0.5rem 0.5rem 0rem;
}

.members .members-item .mas:hover {
    transform: translateY(-2px); 
    background: linear-gradient(270deg, #B41EB7 0%, #ED7EFF 100%);
    box-shadow: 0 4px 8px #ED7EFF;
    color: #fff;
}

.members .members-item .links {
    margin-bottom: 1rem;
}

.members .members-item .contact  {
    color: #B41EB7;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    transition: all 0.3s ease;
    border: 1px solid #ED7EFF;
    text-decoration: none;
}

.members .members-item .contact:active,
.members .members-item .contact:hover {
    color: #fff !important;
    background: linear-gradient(90deg, #B41EB7 0%, #ED7EFF 100%);
    transform: translateY(-3px);
}

.members .no-projects {
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.members .loading {
    width: 100px;  /* Ancho de la imagen */
    height: auto; /* Alto de la imagen */
    display: block; /* Asegúrate de que la imagen se renderice correctamente */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

.members .search {
    padding: 2.5% 0% 0% 0%;
    margin: 0px 10%;
}

.members .search input {
    border: 1px solid #ED7EFF;
    padding: 1rem;
    width: 100%;
    border-radius: 2rem;
    margin-right: 1rem;
}

.members .search .label {
    font-weight: 600;
    color: #1C0623;
    margin-top: 2rem;
}

.members .search .button-group {
    margin: 1rem;
}

.members .search .filter-button {
    color: #503589;
    border: 1px solid #ED7EFF;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    margin: 0rem 0.5rem 0.75rem 0rem;
    background: white;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}

.members .search .filter-button:hover,
.members .search .filter-button.selected {
    background: linear-gradient(90deg, #ED7EFF 0%, #B41EB7 100%);
    color: #fff;
    border: 1px solid #ED7EFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.members .search .filter-button:focus {
    outline: none; 
    box-shadow: none; 
}

.members .search .search-button {
    color: #ED7EFF;
    background: #fff;
    text-decoration: none;
    border: 1px solid #ED7EFF;
    border-radius: 1rem;
    padding: 0% 2%;
    transition: all 0.3s ease;
    line-height: 50px;
    display: inline-block;
}

.members .search .search-button:active,
.members .search .search-button:hover {
    color: #fff !important;
    background: linear-gradient(90deg, #B41EB7 0%, #ED7EFF 100%);
    text-decoration: none;
    border-radius: 1rem;
    padding: 0% 2%;
    margin: 0.5rem 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.members .search .search-button::after {
    transition: width 0.3s ease;
}

.members .idea {
    background: linear-gradient(90deg, #40204B 0%, #503589 100%);
    text-decoration: none;
    padding: 5rem 2.5rem;
    color: #fff;
}

.members .idea h2 {
    font-size: 2.25rem;
    text-shadow: 0 0 8px #ffffff36;
}

.members .idea .desc {
    font-weight: 300;    
}

.members .idea a {
    color: #ED7EFF;
    text-decoration: none;
    border: 1px solid #ED7EFF;
    border-radius: 1rem;
    padding: 0% 5%;
    margin: 0.5rem 1rem;
    transition: all 0.3s ease;
    line-height: 50px;
    display: inline-block;
}

.members .idea a:active,
.members .idea a:hover {
    color: #fff !important;
    background: linear-gradient(90deg, #ED7EFF  0%, #B41EB7 100%);
    text-decoration: none;
    border-radius: 1rem;
    padding: 0% 5%;
    margin: 0.5rem 1rem;
    transform: translateY(-3px);
}

.members .idea a::after {
    transition: width 0.3s ease;
}