.profile {
    padding: 3rem 2rem;
}

.profile .block {
  row-gap: 1.5rem; 
  column-gap: 2rem;
}

.profile .menu {
    height: fit-content;
}

.profile .menu,
.profile .info {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 1rem;
}

.profile .menu button  {
    color: #B41EB7;
    margin: 0.25rem;
    width: 75%;
    padding: 0.25rem;
    border-radius: 1rem;
    transition: all 0.3s ease;
    border: 1px solid #ED7EFF;
}

.profile .menu button:active,
.profile .menu button:hover {
    color: #fff !important;
    background: linear-gradient(90deg, #B41EB7 0%, #ED7EFF 100%);
    border-radius: 1rem;
    transform: translateY(-3px);
}

.profile h2 {
    font-weight: bold;
    color: #1C0623;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile h3 {
    font-weight: 300;
    font-size: 1.25rem;
    color: #1C0623;
}

.profile .state {
    color: #fff;
    width: 75%;
    border-radius: 1rem;
    padding: 0.5% 5%;
    transition: all 0.3s ease;
    line-height: 150%;
    display: inline-block;
    margin: 1rem;
    box-shadow: 0 0 8px #ED7EFF;
    background: linear-gradient(90deg, #B41EB7 0%, #503589 100%);
}

.profile hr {
    color: #ffffff00;
    margin: 0;
}