.error .no-projects {
    font-weight: 300;
}

.error .loading {
    width: 100px;  
    height: auto;
    display: block; 
    margin: 0 auto;
}

.header {
    background: linear-gradient(90deg, #1C0623 0%, #40204B 50%, #503589 100%);
    padding: 5rem 2rem;
}

.header .text {
    color: #fff;
    text-align: left;
}

.header img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header .text .etiquetas {
    margin: 1rem 0rem 0.5rem 0rem;
}

.header .text .state ,
.header .text .tag {
    color: #fff;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
    line-height: 150%;
    display: inline-block;
    margin: 0rem 0.5rem 0.5rem 0rem;
}

.header .text .state {
    background: #503589;
}

.header .text .tag {
    background: #B41EB7;
}

.header h2 {
    font-size: 3rem;
    text-shadow: 0 0 8px #ffffff36;
    font-weight: bold;
}

.header .desc {
    font-weight: 300;
    font-size: 1.25rem;
}

.header hr {
    opacity: 0;
}

.header .text a {
    color: #ED7EFF;
    text-decoration: none;
    border: 1px solid #ED7EFF;
    border-radius: 1rem;
    padding: 0% 5%;
    margin: 0.5rem 1rem;
    transition: all 0.3s ease;
    line-height: 50px;
    display: inline-block;
}

.header .text a:active,
.header .text a:hover {
    color: #fff !important;
    background: linear-gradient(90deg, #ED7EFF  0%, #B41EB7 100%);
    text-decoration: none;
    border-radius: 1rem;
    padding: 0% 5%;
    margin: 0.5rem 1rem;
    transform: translateY(-3px);
}

.header .text a::after {
    transition: width 0.3s ease;
}

.proyecto .information {
    padding: 5rem 2rem;
    text-align: justify;
    color: #222;
}

.proyecto .information .row {
    height: auto;
}

.proyecto .information .descripcion,
.proyecto .information .impacto,
.proyecto .information .miembros,
.proyecto .information .avance,
.proyecto .information .stats,
.proyecto .information .unete {
    background: #fff;
    padding: 2rem;
    border-radius: 2rem;
    margin: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.proyecto .information .stats {
    background: linear-gradient(90deg, #503589  0%, #40204B 100%);
    color: #fff;
}

.proyecto .information h3 {
    font-weight: bold;
    text-shadow: 0 0 8px #1c062356;
    color: #1C0623;
    letter-spacing: 0.25rem;
}

.proyecto .information .stats h3 {
    color: #fff;
    text-shadow: 0 0 8px #ffffff79;
}

.proyecto .information .avance .progress-container {
  width: 100%;
  background-color: #F8F6FB; 
  border-radius: 0.5rem;
  overflow: hidden; 
  position: relative; 
  height: 1.5rem;
  margin: 0.5rem 0 0 0; 
  padding: 0;
}

.proyecto .information .avance .progress-bar {
  height: 100%; 
  background: linear-gradient(90deg, #ED7EFF  0%, #B41EB7 50%, #503589 100%);
  transition: width 0.3s ease; 
  border-radius: 0.5rem;
  display: flex;
  justify-content: center; 
  align-items: center;
  color: #fff;
  font-weight: 500; 
  font-size: 0.85rem;
}

.proyecto .information .avance .progress-text {
  position: absolute; 
  width: 100%; 
}